.c{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: radial-gradient(rgba(0,0,0,0), black);
  display: none;
}
.c0{
  width: 0;
  height: 0;
  position: absolute;
  top: 500px;
  left: -30px;
  transform: rotateZ(-30deg);
}
.c0 div{
  width: 0px;
  height: 50px;
  background-image: url(../images/suolian.png);
  background-size: contain;
  background-repeat: repeat-x;
  transition: all .5s;
}
.c1{
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  left: 400px;
  transform: rotateZ(100deg);
}
.c1 div{
  width: 0px;
  height: 50px;
  background-image: url(../images/suolian.png);
  background-size: contain;
  background-repeat: repeat-x;
  transition: all .5s;
}
.c2{
  width: 0;
  height: 0;
  position: absolute;
  top: 700px;
  right: -20px;
  transform: rotateZ(240deg);
}
.c2 div{
  width: 0px;
  height: 50px;
  background-image: url(../images/suolian.png);
  background-size: contain;
  background-repeat: repeat-x;
  transition: all .5s;
}
.c3{
  width: 0;
  height: 0;
  position: absolute;
  bottom: -20px;
  right: 300px;
  transform: rotateZ(300deg);
}
.c3 div{
  width: 0px;
  height: 50px;
  background-image: url(../images/suolian.png);
  background-size: contain;
  background-repeat: repeat-x;
  transition: all .5s;
}
body:hover .c{
  display: block;
}
body:hover .c0 div{
  width: 1500px;
}
body:hover .c1 div{
  width: 1500px;
}
body:hover .c2 div{
  width: 1500px;
}
body:hover .c3 div{
  width: 1500px;
}
