*{
	margin: 0;
	padding: 0;
}
main{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 666px;
	margin: auto;
}
header{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left: 15px;
	bottom: 15px;
	z-index: 999;
}
header:hover{
	box-shadow: 1px 1px 10px #ddd;
}
section::-webkit-scrollbar{
	display: none;
}
section{
	scrollbar-width: none;
	-ms-overflow-style: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #F5F4F9;
	overflow-y: auto;
	padding-bottom: 65px;
}
section .content{
	margin: 15px;
}
.content ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.content li{
	margin-bottom: 10px;
	background-color: white;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 1px 5px #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}
.content .green strong{
	color: green;
}
.content .red strong{
	color: red;
}
.s,.sr{
	background-color: #78e08f;
}
.z,.zc{
	background-color: #f8a5c2;
}
.content li strong{
	display: inline-block;
}
.content li i{
	display: block;
	font-style: normal;
	font-size: 12px;
}
.content .tj{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tj label{
	padding: 5px 10px;
	border-radius: 4px;
}
.tj .zje{
	background-color: black;
	color: white;
}
footer{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
@keyframes sr{
	from{
		right: 0px;
	}
	to{
		right: 108px;
	}
}
@keyframes zc{
	from{
		right: 0px;
	}
	to{
		right: 54px;
	}
}
@keyframes sr_{
	from{
		right: 108px;
	}
	to{
		right: 0px;
	}
}
@keyframes zc_{
	from{
		right: 54px;
	}
	to{
		right: 0px;
	}
}
footer span{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	position: absolute;
	right: 0;
}
footer span:hover{
	box-shadow: 1px 1px 10px #ddd;
}
footer .toogle_{
	display: none;
}

.inp{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	z-index: 9999;
	backdrop-filter: saturate(150%) blur(2px);
	-webkit-backdrop-filter: saturate(150%) blur(2px);
}
.inp nav{
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 50px #444;
	padding: 20px;
	width: 100%;
	max-width: 300px;
	margin: 40px auto;
}
.inp input{
	width: 100%;
	max-width: 300px;
	height: 30px;
	margin: 10px 0;
	border-radius: 4px;
	border: 2px solid black;
	box-sizing: border-box;
}
.inp .btn{
	display: flex;
	justify-content: flex-end;
}
.btn span{
	padding: 2px 5px;
	border-radius: 4px;
	cursor: pointer;
	color: white;
}
.btn span:active{
	background-color: #95afc0;
	box-shadow: 0px 3px 0px #535c68;
}
.btn .qu{
	background-color: #ff4757;
	box-shadow: 0px 3px 0px #b33939;
	margin-right: 10px;
}
.btn .que{
	background-color: #1e90ff;
	box-shadow: 0px 3px 0px #3742fa;
}
